<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-vpn-proxy-detect" version="1.0.0"
xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
<name>VpnProxyDetect</name>


<js-module src="www/vpnDetect.js" name="vpnDetect">
<clobbers target="cordova.plugins.vpnDetect" />
</js-module>


<platform name="android">
<config-file target="AndroidManifest.xml" parent="/manifest">
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
</config-file>
<source-file src="src/android/VpnProxyDetect.java" target-dir="src/com/vpndetect" />
</platform>


<platform name="ios">
<source-file src="src/ios/VpnProxyDetect.m" />
<framework src="CFNetwork.framework" />
<framework src="SystemConfiguration.framework" />
</platform>
</plugin>
